/* Firecracker.css */
.firecracker {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 150px;
  background: url('https://i.gifer.com/origin/d8/d8e3258fb764c47e5af7cf07c5a92945_w200.gif') no-repeat center center;
  background-size: contain;
  transform: translate(-50%, -50%);
  z-index: 9999;
  pointer-events: none;
}